In [1]:
import pandas as pd

In [5]:
url = 'https://github.com/piotrgradzinski/dap_20230114/raw/main/day_8_pgg/sales_furniture.csv'
df = pd.read_csv(url, sep=';', encoding='utf-8')
df

,lp,data,city,shop,category,product,price,quantity
0,1,2014-11-23,London,Newbold Accountancy Services,furniture,desk,149.99,4
1,2,2017-05-07,Berlin,Quality Boiler Repairs,school equipment,blackboard,590.00,2
2,3,2017-05-05,Cracow,Richards Textiles,school and office equipment,pen,0.99,51
3,4,2016-10-19,Cracow,Sterling Cameras,school equipment,sponge,4.00,250
4,5,2016-04-08,Krakow,Noakes Paper Products,furniture,desk,149.99,9
...,...,...,...,...,...,...,...,...
9995,9996,2016-05-22,Paris,Wright Sporting Goods,school and office equipment,punch,7.50,178
9996,9997,2016-11-19,Cracow,Richards Textiles,furniture,desk,149.99,7
9997,9998,2016-09-30,London,Newbold Accountancy Services,school and office equipment,pen,1.49,87
9998,9999,2015-05-01,Cracow,Richards Textiles,furniture,desk,149.99,10
9999,10000,2016-08-26,Cracow,Richards Textiles,school equipment,sponge,4.00,152