# Exercise 1

Write a programme that will read the log file with users activity in the system.
Display the information of how much time user spent in the system as the sum of 
numbers read from the file.

Time in the system:
- user-1: 92 s
- user-2: 51 s
- user-3: 20 s

In [7]:
total_time = {}

with open('logs_simple.txt', 'r', encoding='utf-8') as file_handle:
    for line in file_handle:
        user_name, time_spent = line.rstrip().split(';')
        if user_name not in total_time:
            total_time[user_name] = 0
        
        total_time[user_name] += int(time_spent)

for user_name, time_spent in total_time.items():
    print(f'{user_name} - {time_spent} s')

user-5 - 26065 s
user-4 - 46198 s
user-10 - 37595 s
user-3 - 9301 s
user-9 - 40589 s
user-1 - 44501 s
user-7 - 35360 s
user-6 - 27717 s
user-8 - 5731 s
user-2 - 27958 s

The problem we have is that the output is not sorted by username. It doesn't look good...

First attempt I can try to sort this by keys of the dictionary...

In [11]:
total_time.keys()

dict_keys(['user-5', 'user-4', 'user-10', 'user-3', 'user-9', 'user-1', 'user-7', 'user-6', 'user-8', 'user-2'])

In [13]:
sorted(total_time.keys())

['user-1',
 'user-10',
 'user-2',
 'user-3',
 'user-4',
 'user-5',
 'user-6',
 'user-7',
 'user-8',
 'user-9']

In [16]:
for user_name in sorted(total_time.keys()):
    print(f"{user_name} - {total_time[user_name]} s")

user-1 - 44501 s
user-10 - 37595 s
user-2 - 27958 s
user-3 - 9301 s
user-4 - 46198 s
user-5 - 26065 s
user-6 - 27717 s
user-7 - 35360 s
user-8 - 5731 s
user-9 - 40589 s

The approach above is better but still `user-10` is not sorted properly due to the fact the sorting of strings does not take numbers into consideration, only characters.

To solve properly we can use an external library that will do the work [natsort](https://pypi.org/project/natsort/).

How we can install this library via Jupyter Notebooks to have it available within our Anaconda environment?

In [18]:
!pip install natsort

Requirement already satisfied: natsort in /opt/anaconda3/lib/python3.9/site-packages (8.2.0)

In [20]:
from natsort import natsorted

In [22]:
natsorted(total_time.keys())

['user-1',
 'user-2',
 'user-3',
 'user-4',
 'user-5',
 'user-6',
 'user-7',
 'user-8',
 'user-9',
 'user-10']

In [24]:
for user_name in natsorted(total_time.keys()):
    print(f"{user_name} - {total_time[user_name]} s")

user-1 - 44501 s
user-2 - 27958 s
user-3 - 9301 s
user-4 - 46198 s
user-5 - 26065 s
user-6 - 27717 s
user-7 - 35360 s
user-8 - 5731 s
user-9 - 40589 s
user-10 - 37595 s

In [25]:
import pandas as pd

In [29]:
df = pd.DataFrame({
    'total_time': total_time.values()
}, index=total_time.keys())
df

         total_time
user-5        26065
user-4        46198
user-10       37595
user-3         9301
user-9        40589
user-1        44501
user-7        35360
user-6        27717
user-8         5731
user-2        27958

In [33]:
df['total_time'].mean(), df['total_time'].min(), df['total_time'].max(), df['total_time'].sum()

(30101.5, 5731, 46198, 301015)